@media screen and (max-width: 1140px) {
    body {
font-size: 17px;
    }
    .sidebar {float: none;display: block;width: 100%;position: relative;background: #444;font-size: 14px;height: auto;}
    .sidebar h2 {
        margin: 0;
        padding: 20px;
    }
    .sidebar ul {margin: 0px;}
    section.welcome {transform: inherit;
    margin-top: 0px;}
    div#content {
        margin-left: 0px;
    }
    .welcome button {display: none;}
    .bullet {display: block;
    float: none;
    margin: 10px auto;
    width: 100%
    }
    .contact div.button {font-size: 20px;width: 60%;}
}